/* assets/styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(173, 103, 115);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card {
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  text-align: center;
}

form {
  margin-bottom: 20px;
}

label {
  font-size: 2em;
  cursor: pointer;
  color: #ccc;
  transition: color 0.2s;
}

input[type="text"],
input[type="url"],
input[type="number"],
input[type="file"],
select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

input[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.star-rating {
  display: flex;
  justify-content: center; /* Center the stars horizontally */
  flex-direction: row-reverse; /* Display stars from left to right */
  /* Add any other styles for the star-rating div */
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked ~ label {
  color: #f39c12;
}

.star-rating .star {
  cursor: pointer;
  color: #ccc;
  display: inline-block;
  transition: color 0.2s;
}

.star-rating .star:hover,
.star-rating .star:hover ~ .star,
.star-rating .star.selected,
.star-rating .star.selected ~ .star {
  color: #f39c12;
}

a {
  display: block;
  margin-top: 20px;
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.view-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.filter {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.filter form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter label {
  margin-right: 5px;
}

.filter select {
  padding: 5px;
}

.filter input[type="submit"] {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.filter input[type="submit"]:hover {
  background-color: #0056b3;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - 20px);
  box-sizing: border-box;
  background: white;
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.card p {
  margin: 10px 0;
}
