/* view-styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(173, 103, 115);
  font-size: large;
}

.navbar {
  background-color: #91354c;
  padding: 10px;
}

.navbar form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar label {
  color: white;
  margin-right: 5px;
}

.navbar select {
  padding: 5px;
}

.navbar input[type="submit"] {
  padding: 5px 10px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.navbar input[type="submit"]:hover {
  background-color: #00408a;
}

.view-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  width: calc(33.33% - 20px); /* Adjusted width */
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background: rgba(255, 255, 255, 0.562);
  margin-right: 20px; /* Spacing between cards */
  margin-bottom: 20px; /* Spacing between rows */
}

.card:last-child {
  margin-right: 0; /* Remove right margin for the last card in each row */
}

.card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.card p {
  margin: 10px 0;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #91354c;
  padding: 10px;
}

.navbar form {
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar label {
  color: white;
  margin-right: 5px;
}

.navbar select {
  padding: 5px;
}

.navbar input[type="submit"] {
  padding: 5px 10px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.navbar input[type="submit"]:hover {
  background-color: #00408a;
}

.navbar-link {
  color: white;
  text-decoration: none;
}
